In [1]:
mais_vendidos = {'tecnologia': 'iphone', 'refrigeracao': 'ar consul 12000 btu', 'livros': 'o alquimista', 'eletrodoméstico': 'geladeira', 'lazer': 'prancha surf'}

vendas_tecnologia = {'iphone': 15000, 'samsung galaxy': 12000, 'tv samsung': 10000, 'ps5': 14300, 'tablet': 1720, 'ipad': 1000, 'tv philco': 2500, 'notebook hp': 1000, 'notebook dell': 17000, 'notebook asus': 2450}

- Qual foi o item mais vendido nas categorias 'livros' e 'lazer'?
- Quanto foi vendido de 'notebook asus' e de 'ipad'?

In [4]:
livro = mais_vendidos['livros']
lazer = mais_vendidos['lazer']
print(livro)
print(lazer)
qtde_asus = vendas_tecnologia['notebook asus']
print(qtde_asus)
qtde_ipads = vendas_tecnologia['ipad']
print(qtde_ipads)

qtde_iphone = vendas_tecnologia['iphone']
print(qtde_iphone)

o alquimista
prancha surf
2450
1000
15000

In [11]:
#Adicionar, remover e modificar dicionários
lucro_1tri = {'janeiro': 100000, 'fevereiro': 120000, 'março': 90000}
lucro_2tri = {'abril': 88000, 'maio': 89000, 'junho': 120000}

lucro_1tri['abril'] = 88000
print(lucro_1tri)

#Adicionar vários itens
lucro_1tri.update(lucro_2tri)
print(lucro_1tri)

#Adicionar um item já existente
lucro_1tri['janeiro'] = 45000
print(lucro_1tri)

{'janeiro': 100000, 'fevereiro': 120000, 'março': 90000, 'abril': 88000}
{'janeiro': 100000, 'fevereiro': 120000, 'março': 90000, 'abril': 88000, 'maio': 89000, 'junho': 120000}
{'janeiro': 45000, 'fevereiro': 120000, 'março': 90000, 'abril': 88000, 'maio': 89000, 'junho': 120000}

In [12]:
#Remover item de um dicionário
del lucro_1tri['janeiro']
print(lucro_1tri)

lucro_jun = lucro_1tri.pop('junho')
print(lucro_jun)

{'fevereiro': 120000, 'março': 90000, 'abril': 88000, 'maio': 89000, 'junho': 120000}
120000

In [20]:
#For no dicionário
vendas_tecnologia = {'iphone': 15000, 'samsung galaxy': 12000, 'tv samsung': 10000, 'ps5': 14300, 'tablet': 1720, 'ipad': 1000, 'tv philco': 2500, 'notebook hp': 1000, 'notebook dell': 17000, 'notebook asus': 2450}

#Ele printa somente a chave e não os valores
for chave in vendas_tecnologia:
    print(chave)
print('='*40)
#Para acessar os valores também
for chave in vendas_tecnologia:
    print(f'{chave}: {vendas_tecnologia[chave]}')

#Total de notebooks
total_notebook = 0
for chave in vendas_tecnologia:
    if 'notebook' in chave:
        total_notebook += vendas_tecnologia[chave]
print(total_notebook)

iphone
samsung galaxy
tv samsung
ps5
tablet
ipad
tv philco
notebook hp
notebook dell
notebook asus
========================================
iphone: 15000
samsung galaxy: 12000
tv samsung: 10000
ps5: 14300
tablet: 1720
ipad: 1000
tv philco: 2500
notebook hp: 1000
notebook dell: 17000
notebook asus: 2450
20450

In [30]:
#Usando o método items() dos dicionários
vendas_tecnologia = {'notebook asus': 2450, 'iphone': 15000, 'samsung galaxy': 12000, 'tv samsung': 10000, 'ps5': 14300, 'tablet': 1720, 'notebook dell': 17000, 'ipad': 1000, 'tv philco': 2500, 'notebook hp': 1000}
for item in vendas_tecnologia.items():
    print(item)

print('='*40)
#Usando somente as chaves
for chave in vendas_tecnologia:
    if vendas_tecnologia[chave] > 5000:
        print(f'{chave}: {vendas_tecnologia[chave]}')
print('='*40)

#Usando o método items()
for produto, item in vendas_tecnologia.items():
    if item > 5000:
        print(f'{produto}: {item}')

('notebook asus', 2450)
('iphone', 15000)
('samsung galaxy', 12000)
('tv samsung', 10000)
('ps5', 14300)
('tablet', 1720)
('notebook dell', 17000)
('ipad', 1000)
('tv philco', 2500)
('notebook hp', 1000)
========================================
iphone: 15000
samsung galaxy: 12000
tv samsung: 10000
ps5: 14300
notebook dell: 17000
========================================
iphone: 15000
samsung galaxy: 12000
tv samsung: 10000
ps5: 14300
notebook dell: 17000