In [1]:
mais_vendidos = {'tecnologia': 'iphone', 'refrigeracao': 'ar consul 12000 btu', 'livros': 'o alquimista', 'eletrodoméstico': 'geladeira', 'lazer': 'prancha surf'}

vendas_tecnologia = {'iphone': 15000, 'samsung galaxy': 12000, 'tv samsung': 10000, 'ps5': 14300, 'tablet': 1720, 'ipad': 1000, 'tv philco': 2500, 'notebook hp': 1000, 'notebook dell': 17000, 'notebook asus': 2450}

- Qual foi o item mais vendido nas categorias 'livros' e 'lazer'?
- Quanto foi vendido de 'notebook asus' e de 'ipad'?

In [4]:
livro = mais_vendidos['livros']
lazer = mais_vendidos['lazer']
print(livro)
print(lazer)
qtde_asus = vendas_tecnologia['notebook asus']
print(qtde_asus)
qtde_ipads = vendas_tecnologia['ipad']
print(qtde_ipads)

qtde_iphone = vendas_tecnologia['iphone']
print(qtde_iphone)

o alquimista
prancha surf
2450
1000
15000

In [3]:
#Adicionar, remover e modificar dicionários
lucro_1tri = {'janeiro': 100000, 'fevereiro': 120000, 'março': 90000}
lucro_2tri = {'abril': 88000, 'maio': 89000, 'junho': 120000}

lucro_1tri['abril'] = 88000
print(lucro_1tri)

#Adicionar vários itens
lucro_1tri.update(lucro_2tri)
print(lucro_1tri)

#Adicionar um item já existente
lucro_1tri['janeiro'] = 45000
print(lucro_1tri)

{'janeiro': 100000, 'fevereiro': 120000, 'março': 90000, 'abril': 88000}
{'janeiro': 100000, 'fevereiro': 120000, 'março': 90000, 'abril': 88000, 'maio': 89000, 'junho': 120000}
{'janeiro': 45000, 'fevereiro': 120000, 'março': 90000, 'abril': 88000, 'maio': 89000, 'junho': 120000}